[Unit]
Description=Apply GNOME Settings
After=gdm.service

[Service]
Type=oneshot
ExecStart=bash /lib/debr_util_scripts/apply_gnome_settings.sh
User=root
StandardOutput=journal
StandardError=journal
RemainAfterExit=no
Restart=no

[Install]
WantedBy=multi-user.target