[Unit]
Description=Installs the cached snapd packages
After=snapd.service

[Service]
Type=oneshot
ExecStart=bash /lib/debr_util_scripts/snap-download-cache/installer.sh
User=root
Group=root
StandardOutput=journal
StandardError=journal
RemainAfterExit=no
Restart=no

[Install]
WantedBy=multi-user.target
